*{
    margin: 0;
    padding: 0;
}
.firstpg{
    background-image: url('garbageimg.avif');
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 40vh 9vw;
    font-size: 41px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.rightdown{
    font-size: 10px;
}





  footer{
    background-color: rgba(6, 58, 23, 0.915);
    color: white;
}


#nav{
   
    height : 60px;
    margin: 20px;
    color: white;
}

#nav2{
    
    height : 60px;
    margin: 20px;
    color: white;
}

a{
    margin-right: 270px;
    color:white
}