* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slide-container{
    margin-top: 100px;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.firstpg{
    background-image: url('garbagebg.jpeg');
    background-size: cover;
    box-shadow: gray;
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 40vh 9vw;
    font-size: 41px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
  }

.rightdown{
    font-size: 10px;
}




#nav{
   
    height : 60px;
    margin: 20px;
    color: white;
}

#nav2{
    
    height : 60px;
    margin: 20px;
    color: white;
}

a{
    margin-right: 270px; 
    text-decoration: none;
    color: white;
}
.left a{
    color:white;
}
.rightup a{
    color:white;
}
.rightdown a{
    color:white;
}

.contain{
    margin-top: 50px;
    height: 400px;
    width: 50%;
    
    display: flex;
     
    gap: 80px;

}.contain1{
    height: 380px;
    width: 100%;
    
    

}
.boxcontain1{
    width: 100%;
    height: 360px;
    border: 1px solid whitesmoke;
    z-index: 2;
    position: relative;
    top: -360px;
    
transition: transform 1s linear 0s;}.boxcontain1:hover{
    transform: translateX(-290px);
}.under{
    width: 100%;
    height: 360px;
    position: relative;
    margin-left: 180px;
    
    
  
}.undertext{
    width: 100%;
    height: 360px;
    position: relative;
    background-color:rgb(175, 220, 159);
    font-size: 20px;
    color:rgb(7, 90, 54);
    
    
    

}.tt{
    margin-left: 30px;
}
.re1{
    margin-left: 240px;
    height: 600px;
    
}
.boxcontain2{
    width: 100%;
    height: 360px;
    z-index: 2;
    position: relative;
    top:-360px;
    border: 1px solid whitesmoke;
    transition: transform 1s linear 0s;
}.boxcontain2:hover{
    transform: translateX(290px);
}
.ho2:hover{
    -moz-box-shadow:1px 1px 5px 5px rgb(143, 218, 120);
    -webkit-box-shadow:1px 1px 5px 5px rgb(143, 218, 120);
    box-shadow: 1px 1px 5px 5px rgb(143, 218, 120);

}
.boxcontain3{
    width: 100%;
    height: 360px;
    z-index: 2;
    position: relative;
    top:-360px;
    border: 1px solid whitesmoke;
    transition: transform 2.5s linear 0s;
}.boxcontain3:hover{
    transform: translateX(600px);
}
.bordofcon{
    border: 1px white;
    border-style: inset;


}.title2{
    margin-left: 300px;
    font-size: 3pc;
    z-index: 1;
    font-style: italic;

    
    background-image: linear-gradient(to left ,rgb(143, 218, 120),white);
    background-clip: text;
    color: transparent;

}

.piccover1{
    height: 200px;
    width: 100%;
    background-image: url(reduce3.png);
    background-size:contain;
    border-bottom: 2px solid white;
}
.piccover2{
    height: 200px;
    width: 100%;
    background-image: url(reduce3.png);
    background-size:contain;
    border-bottom: 2px solid white;
}
.piccover3{
    height: 200px;
    width: 100%;
    background-image: url(reduce3.png);
    background-size:contain;
    border-bottom: 2px solid white;
}
.title5{
    padding-top: 0px;
    font-size: 2pc;
    z-index: 1;
    font-style: italic;

    
    background-image: linear-gradient(to left ,rgb(143, 218, 120),rgb(13, 100, 8));
    background-clip: text;
    color: transparent;

}
.title3{
    padding-top: 140px;
    font-size: 2pc;
    z-index: 1;
    font-style: italic;

    
    background-image: linear-gradient(to left ,rgb(143, 218, 120),rgb(13, 100, 8));
    background-clip: text;
    color: transparent;

}
.content{
    height: 180px;
    width: 600px;
    display: flex;
    
    color: whitesmoke;
    font-size: 12px ;
    
}.first1{
    width: 280px;
    height: 180px;
   
    display: flex;
    transition: transform 2s linear 0s;

}.first1:hover{
    transform: translateX(30px);
}
.first2{
    width: 310px;
    height: 180px;
    
}

.firstglow1{
    height: 100px;
    width: 100px;
     position: relative;
     left: 30px;
     top: 50px;
    box-shadow: 1px 1px 4px 4px rgb(143, 218, 120);
  
}
.firstglow2{
    height: 100px;
    position: relative;
    top: 35px;
    width: 100px;
     z-index: 2;
    box-shadow: 1px 1px 4px 4px rgb(143, 218, 120);
   
}
.title1{
    margin-left: 12px;
    font-size: 2pc;
    z-index: 1;
    font-style: italic;

    
    background-image: linear-gradient(to left ,rgb(143, 218, 120),rgb(6, 73, 45));
    background-clip: text;
    color: transparent;
    margin-bottom: 30px;
}

.cont{
    height: 150px;
    width: 100%;
    background-color:rgb(10, 78, 30);
    display: flex;
}.cont1{
    height: 150px;
    width: 50%;
    border: 2ps solid white;
    display: flex;
    color: white;

}.glowbox1{
    height: 80px;
    width: 80px;
     position: relative;
     left: 30px;
     top: 50px;
    box-shadow: 1px 1px 4px 4px rgb(9, 132, 60);
}.glowbox2{
    height: 80px;
    position: relative;
    top: 35px;
    width: 80px;
     z-index: 2;
    box-shadow: 1px 1px 4px 4px rgb(9, 132, 60);
}
.show{
    margin-top: 60px;
    margin-left: 20px;
    height: 30px;
    width: 100px;
    font-size: 23px;
    font-style: italic;
    
    
    background-image: linear-gradient(to left ,rgb(143, 218, 120),rgb(6, 73, 45));
    background-clip: text;
    color: transparent;

}
/* slider_profiles */
.slide-container{
    max-width: 1120px;
    width:100%;

    padding:40px 0;
}

.card{
    /* width:320px;  */
    border-radius: 25px;
    background-color: #fff;

}
.slide-content{
   
    
    margin:0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card-image{
    position: relative;
    height:150px;
    width:150px;
    border-radius: 50%;
    background: #fff;
    padding:3px;
}

.image-content, .card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px 14px;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    height:100%;
    width:100%;
    left:0; top:0;
    background-color: #195c3c;
    border-radius: 25px 25px 0 25px;
}
.overlay::before, .overlay::after{
    content:'';
    position: absolute;
    right:0; bottom:-40px;
    height:40px;
    width:40px;
    background-color:#195c3c;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color:#fff ;
}
.card-image .card-img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    border:4px solid #0f5632;
}
.name{
    font-size: 20px;
    font-weight: 500;
    color:#333;
}
.description{
    font-size: 14px;
    color:rgb(4, 70, 4);
    text-align: center;
}
.button{
    border:none;
    font-size: 16px;
    color:#fff;
    padding:8px 16px;
    background-color: rgb(4, 71, 4);
    border-radius: 7px;
    margin:14px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.button:hover{
    background-color: #0e2e1e;
}

.swiper-navBtn{
    color: #38dd8a;
    transition:color 0.3s ease;
}
.swiper-navBtn:hover{
    color:#0e2e1e;
}
.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right:0;
}
.swiper-button-prev{
    left:0;
}
.swiper-pagination-bullet{
    background-color:#1ea963;
    opacity:1;
}
.swiper-pagination-bullet-active{
    color:#0e2e1e;
}


.details{
    display:none;
    padding:10px;
    background-color: #d3fae6;
    border:2px solid green;
    margin-top: 10px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
    position: relative;
    width:480px;
}
iframe{
    margin-top: 20px;
    width:450px;
}
.details.show{
    display: block;
}

.closeBtn{
    position: absolute;
    top:5px; right:5px;
    background: transparent;
    border:none;
    color:#195c3c;
    cursor: pointer;
    font-size: 20px;
}
footer{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
}
footer{
    position: relative;
    width:100%;
    background-color: rgba(18, 87, 41, 0.915);
    min-height: 100px;
    padding:20px 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color:#fff;
    margin:0 10px;
    display:inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1em;
    color:#fff;
    margin:0 10px;
    display:inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;

}
footer p{
    color:#fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

@media screen and (max-width:768px) {
    .swiper-navBtn{
        display:none;
    }
    .slide-content{
        margin:0 10px;
    }
}